#cards {
    margin: 5vw 3vw;
    
}


.cards-container{
    margin-top: 5vw;
    margin-left: 6vw;;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: space-around;
    align-content: center;
}

figure{
    width: 30%;
}
