.movies-card {
    background-color: #FDD;
    margin: 0 auto;
}

.movies-card h2{
    padding-top: 2vw;
    text-align: center;
    font-size: 3vw;
    color: #C75aaB;

}

.cards-container {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.card {
    width: calc(25% - 8vw); 
    height: 30vw; 
    margin: 1vw .75vw;
    border: solid 1px #AAA;
    background-color: #FFF7;
    display: flex;
    flex-direction: column;
}

card:nth-child(4n-1) {
    margin-left: 3vw;
}

.card-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65%;
}

figcaption {
    margin-top: 1vw;
    font-size: 1.5vw;
    text-align: center;
    color: #C75aaB;
    height: 5%;
}

.card-movies-btn{
    background-color: #C75aaB99;
    border:none;
    margin-top: 5vw;
    padding: 1vw;
    font-size:1.1vw;
    color:#FFE;

}    







