.hist-cruz {
    background-image: url(../images/movies/historias-cruzadas.png);
}

.pant {
    background-image: url(../images/movies/as\ panteras.png);
}

.pant-19 {
    background-image: url(../images/movies/as\ panteras-2019.png);
}

.cap-marv {
    background-image: url(../images/movies/capitã\ marvel.png);
}

.extr-fut {
    background-image: url(../images/movies/exterminador\ -do-futuros.png);
}

.jog-voraz {
    background-image: url(../images/movies/jogos\ vorazes.png);
}

.mul-mar {
    background-image: url(../images/movies/mulher\ naravilha.png);
}

.ond-est {
    background-image: url(../images/movies/onde-esta-a-segunda.png);
}

.amelie {
    background-image: url(../images/movies/amelie.png);
}

.kill-bill {
    background-image: url(../images/movies/kill-bill.png);
}